{% extends 'technews/base.html' %}
{% load static %}
{% load mainmenu %}
{% load widget_tweaks %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}


  
{% block body %}
<div class="container">

            <h2 class="card-title">Sign up</h2>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'technews/includes/signup_form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Create an account</button>
            </form>
          <div class="card-footer text-muted text-center">
            Already have an account? <a href="#">Log in</a>
          </div>    
</div>
{% endblock %}

